* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(97deg,black , #132727);
    width: 100%;
    height: 100%;
}
.main-container{
    max-width: 900px;
    width: 80%;
    margin-top: 3%;
    display: grid;
    grid-template-columns:repeat(auto-fill , 435px);
    grid-gap:30px;
    justify-content: center;
    border-left: solid 3px rgb(63, 24, 100);
}

.photo{
    background-image: url('../img/profil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 435px;
    height: 330px;
    box-shadow: 0px 0px 3px #272727;
}

.title{
    font-family: 'tekturregular';
    font-size:32px;
    color: rgb(168, 116, 197);
    margin-right: 286px;
}

label{
    font-family:'astonpolizregular';
    font-size: 17px;
    text-shadow: 2px 2px 1px #b8b8b854;
    color: #dcc3ff;
}

.desc{
    width:400px ;
    font-family:'titillium_weblight';
    font-size: 14px;
    color: white;
}

.color-icon{
    margin-left:30px;
}

.description a{
    font-family:'titillium_weblight';
    font-size: 17px;
    color: white;
    /* margin-left: 112px; */
}

.description{
    margin-top: -50px;
}

.contact{
    display: flex;
    font-family:'titillium_weblight';
    font-size: 14px;
    color: white;
}

.description img{
    position: inherit;
    width: 30px;
    height: 30px;
}

hr{
    margin-top: -10px;
    border:solid 1px rgb(168, 116, 197);
}

.photo , .title , .desc{
    position: relative;
}

.return{
    margin-left: 2%;
}

.cv-place{
    margin-top: 4%;
    margin-left: 15%;
    position: relative;
    background-image: url('../img/FANAHY\ MANAMPENO\ Joss\ Elito\ cv.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 1400px;
}

.page_loader{
    margin-top: -100vh;
    position: relative;
    background: linear-gradient(to bottom right,#246996,#bd0060);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.spinner{
    height: 120px;
    width: 120px;
    border: 5px solid;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spin 1.5s linear infinite ;
}

@keyframes spin{
    to {
        transform: rotate(360deg);
    }
}