* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    background-size: cover;
    background-image: url('./wallpaperflare.com_wallpaper\ \(8\).jpg');
    background-repeat: no-repeat;
}

label {
    font-family: 'space_ageregular';
    font-size: 138px;
    font-weight:100;
    position: relative;
    margin-top: 10%;
}

.hello{
    font-family: 'astonpolizregular';
    height: auto;
    font-size: 64px;
    color: white;
}

.hello p{
    margin-top:10px;
}

.main-container{
    max-width: 1300px;
    width: 80%;
    margin: 30px auto;
    display:grid;
    grid-template-columns: repeat(auto-fill ,490px);
    grid-gap: 99px;
}

.photo{
    background-image: url('./be9869922abe64a30e36452f8846a891.jpg');
    background-size: cover;
    width:378px;
    opacity: 1;
    height:378px;
    animation: blink 2s infinite alternate;
    border: solid 1px rgb(255, 245, 249)  ;
    filter: 
    drop-shadow(0 0.15vw 0.30vw rgb(253, 188, 199))
    drop-shadow(0 0.15vw 0.30vw rgb(183, 182, 255))
    ;
    border-radius: 100%;
    position: relative;
    transform: rotateZ(-360deg) ;
    transition: .7s ease-in-out;
}

.photo:hover{
    transform: rotateZ(360deg) ;
    transition: .7s ease-in-out;
}

.photo-container button{
    padding: 12px 20px;
    min-width: 200px;
    font-size: medium;
    font-weight:bolder;
    background:none;
    border: solid 2px white;
    color:  white;
    font-family: 'titillium_weblight';
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}

.photo-container button:hover{
    color: #2d1757;
}

.photo-container button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: transform 0.5s;
    z-index: -1;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4,0.7);
    transform-origin:0 0;
    transform: scaleX(0);
}

.photo-container button:hover::before{
    transform: scaleX(1);
}

.desc-container{
    position: inherit;
    display:grid;
    grid-template-columns: repeat(auto-fill ,235px);
    grid-gap: 17px;
    margin-top:-80px ;
}

.sentence{
    font-size: 16px;
    font-family: 'titillium_weblight';
    color: white;
    max-width: 228px;
}

.pets{
    font-family: 'tekturregular';
    font-size:21px;
    color: rgb(168, 116, 197);
}

.photos-container{
    position: relative;
align-items: center;
}

.icon-list{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    width: 100%;
    padding-inline-start: 0px;
}

.icon-list img{
    width: 32px;
    height: 32px;
    transition: .3s;
    position: relative;
}

.icon-list img:hover{
    transition: .3s;
    transform: scale(1.2);
}

@keyframes blink {
    0% ,18%,22% ,25% ,53% ,60% , 75%,100%{
        filter: 
        drop-shadow(0 0.15vw 0.30vw rgb(253, 188, 199))
        drop-shadow(0 0.15vw 0.30vw rgb(183, 182, 255))
        ;
    }
    
    10% ,14%,80%,82% {
        filter: none;
    }
}

.desc-container p{
    position: relative;
}
