* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('./1366.png');
    background-repeat: no-repeat;
}

label {
    font-family: 'newyorkregular';
    font-size: 128px;
    margin-top: 10%;
    color: #4d4957;
}

.hello{
    font-family:'newyorkregular';
    height: auto;
    font-size: 64px;
    color: rgb(84, 151, 252);
}

.hello p{
    margin-top:10px;
}

.main-container{
    max-width: 1300px;
    width: 80%;
    margin: 30px auto;
    display:grid;
    grid-template-columns: repeat(auto-fill ,490px);
    grid-gap: 99px;
}

.photo{
    background-image: url('./122fde40e8de28359d7fa0f341fb212d.jpg');
    background-size: cover;
    width:328px;
    height:328px;
    border: solid 1px;
    border-radius: 100%;
    transform: rotateZ(-360deg) ;
    transition: .7s ease-in-out;
}

.photo:hover{
    box-shadow:0px 0px 20px rgb(56, 88, 63) ;
    transform: rotateZ(360deg) ;
    transition: .7s ease-in-out;
}

.photo-container button{
    padding: 12px 20px;
    min-width: 200px;
    font-size: medium;
    font-weight:bolder;
    background:none;
    border: solid 2px #25222b;
    color: #25222b;
    font-family: 'titillium_weblight';
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}

.photo-container button:hover{
    color: #e9e9e9;
}

.photo-container button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #25222b;
    transition: transform 0.5s;
    z-index: -1;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4,0.7);
    transform-origin:0 0;
    transform: scaleX(0);
}

.photo-container button:hover::before{
    transform: scaleX(1);
}

.desc-container{
    display:grid;
    grid-template-columns: repeat(auto-fill ,235px);
    gap: 10px;
    margin-top:-80px ;
}

.desc{
    font-size: 16px;
    font-family: 'titillium_weblight';
    color: #25222b;
    max-width: 228px;
}

.desc p{
    font-family: 'tekturregular';
    font-size:21px;
    color: rgb(168, 116, 197);
}

.photos-container{
align-items: center;
}